.product {
  height: 100%;
  background: var(--card-bg);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.product img {
  width: 100%;
  border-radius: var(--radius);
}
.product-content {
  flex: 1;
  padding: 0 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-content h3 {
  font-size: 1.25rem;
  color: var(--card-head);
  margin-bottom: 0.15rem;
}
.product-price {
  font-size: 1rem;
  color: var(--card-sub);
  margin: 0;
}
.product-actions {
  text-align: right;
  margin-top: var(--gap-lg);
  display: flex;
  justify-content: flex-end;
  gap: var(--gap-sm);
}
